

.about__signup {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.signup {
    background-color: #fff;
    width: 35%;
    border-radius: 30px;
    border: 1px solid #1f601f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.signup__heading {
    font-size: 24px;
    font-weight: 700;
    padding-top: 30px;
    text-align: center;
    line-height: 8px;
    text-transform: uppercase;
    color: #199427;
}

.signup__text {
    font-size: 14px;
    margin: 15px 0px;
    text-align: center;
    padding-top: 10px;
    font-weight: 400;
}

.signup__body {
    padding: 10px 25px 0px;
}

.modal__label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.modal__signin {
    font-size: 14px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}

/* Tắt mũi tên lên xuống của thẻ input  */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

#btn__signup {
    font-size: 18px;
    font-weight: 500;    
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #199427;
    color: white;
    text-align: center;
}

#btn__signup:hover {
    opacity: 0.8;
}

.nonacc {
    text-align: center;
    font-size: 14px;   
}

.nonacc > a {
    color: #1a6fb7;
    font-weight: 500;
}

/* Kiểm tra số điện thoại trong form đăng nhập */

#form__signin .loi {
    border:1px solid red;  
    font-size: 14px;
    border-radius: 5px;
    width: 90%;
    padding: 15px;    
}

#baoloi {
    color: red;
    font-style: italic;
    font-size: 14px;
}

#baoloi > p {
    margin-bottom: -8px;
}