@@ -0,0 +1,32 @@
:root {
    --green-main: #1f601f;
    --red-main: #f00;
    --gray-main: #eee;
    --green-extra: #4ca215;
    --green-price: #199427;
    --green-list: #459429;
    --orange-hover: #f46200;
    --gray-slick: #a3a3a3;
    --gray-list: #383838;
    --gray-extra: #ccc;
}

.listPage{
    /* margin-top: 20px; */
    padding: 40px;
    text-align: center;
    list-style: none;
}
.listPage li{
    padding: 8px 12px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid var(--gray-extra);
    border-radius: 5px;
    font-size: 14px;
}
.listPage .active{
    background-color: var(--green-price);
    color: #fff;
}